<div id="post" class="grid_7 push_1">
  <% if current_user %>
  
  <% title 'User Profile' %>

  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.uid %>
  </p>
  <p><%= link_to "Sign out", signout_path %></p>

<% else %>

  <% title 'User Profile' %>
  
  <div class="grid_7">
    <p><strong>Sign in through one of these services:</strong></p>
    <a href="/auth/twitter" id="auth_providers" class="grid_1 alpha">
      <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
      <h3>Twitter</h3>
    </a>
    <a href="/auth/facebook" id="auth_providers" class="grid_1 omega">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
      <h3>Facebook</h3>
    </a>
  </div><!--.auth_providers-->

  <div id="login" class="grid_7">
    <p>
      <strong>Don't use these services?</strong>
      <%= link_to "Create an account", new_identity_path %> or login below.
    </p>
    <div id="login_form"> 
      <%= form_tag "/auth/identity/callback" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %><br>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %><br>
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Login" %></div>
        <% end %>
      <% end %>
    </div><!--.login_form-->
  </div><!--.login-->
</div><!--.post-->
