<% title 'Tags' %>

<table width="100%">

<tr>
	<td><b>Name</b></td>
	<td><b>Latest Submission</b></td>
</tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag %> (<%= tag.posts.count %>)</td>
    <td><% if tag.posts.last %>
			<%= time_ago_in_words(tag.posts.last.created_at) %> ago
		<% else %>
			<i>None</i>
		<%end%>
	</td>
	<td><%  if tag.posts.last %>
		"<%= link_to(tag.posts.last.title,tag.posts.last) %>" by
		<%= tag.posts.last.user.name %><% end %>
	</td>
  </tr>
<% end %>
</table>
