<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Posts:</b>
  <%= @posts.map(&:title).each do |title| %>
  <%= link_to title.split(",") %>
  <% end %>
  <!-- the following is in the controller that renders @posts, but shows titles in an array -->
  <!-- <%= @tag.posts.map(&:title) %> -->
  <!-- <%= @posts.find(:all) %> -->
<!-- ruby loop while, for, until -->
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
