<% title @tag.name %>

<table width="50%">

<% @posts.each do |post| %>
  <tr>
    <td>
    <span id="title"><%= header(post) %></span>
	<span id="url"><%= link(post) %></span>
    <div id="info">
		Posted by <%= post.user.name %>
		on <%= post.created_at.strftime("%b %d, %Y") %>
		| <%= link_to 'Comment', post_path(post, :anchor => "disqus_thread"), 'data-disqus-identifier' => post.id %>
	</div>
	</td>
  </tr>
<% end %>
</table>

<p><%= will_paginate @posts %></p>
<p><%= page_entries_info @posts %></p>