<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tag.name %>
</p>

<p>
  <% @posts.each do |post| %>
  <div><%= link_to post.title, post %></div>
  <% end %>
</p>

<p>
	<%= will_paginate @posts %>	
</p>

<p>
	<%= page_entries_info @posts %>
</p>

<br/>

<%= link_to 'Back to Tag Index', tags_path %> | 
<%= link_to 'Back to Home Page', posts_path %>
