<div id="submit">
<%= form_for @post do |f| %>
  <div><label>Title</label></div>
  <p><%= f.text_field :title %></p>
  <div><label>URL</label></div>
  <p><%= f.text_field :url %></p>
	  <div><label>Your thoughts?</label></div>
	<p><%= f.text_area :content %></p>
	<div><label>#FailTags</label></div>
	<p><%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json %></p>
	<p><%= f.submit %></p>
<% end %>
</div><!--.submit-->
