<% content_for :head do %>
<script type="text/javascript">
var disqus_shortname = 'raywu'
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<% end %>

<% @posts.each do |post| %>
<div id="post">
	<span id="title"><%= header(post) %></span>
	<span id="url"><%= link(post) %></span>
	<div id="tags">
		<% post.tags.each do |tag| %>
			<span id="tag"><%= link_to "##{tag.name}", tag %></span>
		<% end %>
	</div>
	<div id="info">
		Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago
		[ <%= link_to 'Comment', post_path(post, :anchor => "disqus_thread"), 'data-disqus-identifier' => "wf-"+post.slug.name %> ]
	</div>
</div>
<% end %>

<br/>

<p><%= will_paginate @posts %></p>
<p><%= page_entries_info @posts %></p>