<h1>WhatFailed.Us</h1>
<p>
<h3>a collection of startup stories</h3>

<table>
  <!-- <tr>
    <th>Title</th>
    <th>Time</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->


<% @posts.each do |post| %>
  <tr>
    <td>
		<b>
		<% if post.url.blank? %>
		<%= link_to post.title, post %>
		<% else %>
		<%= link_to post.title, post.url %>
		<% end %>
		</b>
	</td>
    <!-- <td><%= post.tags.each do |tag| %>
		<%= tag.name %>
		<% end %>
	</td> -->
	<td><%= post.created_at %></td>
    <!-- <td><%= post.content %></td> -->
  </tr>
  <tr>
    <td><%= post.tags.each do |tag| %>
		<%= tag.name.split(",") %>
		<% end %>
	</td>
	<!-- <td><%= link_to 'Show', post %></td> -->
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
	<td><%= link_to 'Comment', post_path(post, :anchor => "disqus_thread"), 'data-disqus-identifier' => post.id %></td>
  </tr>
<% end %>
</table>

<br/>

<p>
	<%= will_paginate @posts %>	
</p>

<p>
	<%= page_entries_info @posts %>
</p>

<br />

<%= link_to 'Submit a New Post', new_post_path %>
