<% @posts.each do |post| %>
<div id="post">
	<table>
	<tr>
		<td>
			<%= tweet_button(:url => post_url(post), :text => "'#{post.title}' #startupfailure", :count => "none" )%>
		</td>
		<td>
			<span id="title"><%= header(post) %></span>
			<span id="url"><%= link(post) %></span>
			<div id="tags">
				<% post.tags.each do |tag| %>
					<span id="tag"><%= link_to "##{tag.name}", tag %></span>
				<% end %>
			</div>
			<div id="info">
				Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago
				[ <%= link_to '{num} Comment', post_path(post, :anchor => "disqus_thread") %> ]
			</div>
		</td>	
	</tr>
	</table>
</div>
<% end %>

<br/>

<p><%= will_paginate @posts %></p>
<p><%= page_entries_info @posts %></p>
