<h1>WhatFailed.Us</h1>
<p>
<h3>a collection of startup stories</h3>

<table width="50%">

<% user = "Joe Smith" %>
<% @posts.each do |post| %>
  <tr>
    <td>
		<span id="title"><%= title(post) %></span>
		<span id="url"><%= link(post) %></span>
		<div id="info">
			Posted by <%= link_to user, "#" %>
			on <%= post.created_at.strftime("%b %d, %Y") %>
			| <%= link_to 'Comment', post_path(post, :anchor => "disqus_thread"), 'data-disqus-identifier' => post.id %></
		</div>
		<div id="tags">
			<% post.tags.each do |tag| %>
				<span id="tag"><%= link_to "##{tag.name}", tag %></span>
			<% end %>
		</div>
	</td>
  </tr>
<% end %>
</table>

<br/>

<p>
	<%= will_paginate @posts %>	
</p>

<p>
	<%= page_entries_info @posts %>
</p>

<br />

<b><%= link_to 'Submit a New Post', new_post_path %></b>
