<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>
<p>
	Posted by <%= @post.user.name %>
	on <%= @post.created_at.strftime("%b %d, %Y") %>
</p>

<% if current_user %>
	<% if @post.belongs_to?(current_user) %>
		<%= link_to "(edit)", edit_post_path(@post) %>
	<% end %>
<% end %>

<p>
  <% if @post.url.blank? == false %>
  <%= link_to @post.url %>
  <% end %>
</p>

<% if @post.content.blank? == false %>
  <%= raw RDiscount.new(@post.content).to_html %>
<% end %>

<%= form_for(@post) do |f| %>
<table id="tags-editor">
<tr>
	<td><%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json %></td>
	<td><%= f.submit 'Update' %></td>
</tr>
		
</table>
<% end %>

<div id="buttons">
<%= render 'comment' %>
</div>
