<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<p>
  <% if @post.url.blank? == false %>
  <%= link_to @post.url %>
  <% end %>
</p>

<% if @post.content.blank? == false %>
  <p><%= @post.content %></p>
<% end %>

<%= form_for(@post) do |f| %>
<table id="tags-editor">
<tr>
	<td><%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json %></td>
	<td><%= f.submit 'Update' %></td>
</tr>
		
</table>
<% end %>

<div id="buttons">
<%= render 'comment' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to "Back to Home Page", posts_path %>
