<% title "#{@post.title}" %>
<div/ class="prefix_1 grid_5">
<p>
	Posted by <%= @post.user.name %> <%= time_ago_in_words(@post.created_at) %> ago

<% if current_user %>
	<% if @post.belongs_to?(current_user) %>
		( <%= link_to "edit", edit_post_path(@post) %> ,
		<%= link_to "delete", @post, :confirm => 'Are you sure?', :method => :delete %> )
	<% end %>
<% end %>

</p>

<p>
  <% if @post.url.blank? == false %>
    <%= link_to "#{link(@post)}", @post.url %>
  <% end %>
</p>

<% if @post.content.blank? == false %>
  <%= raw RDiscount.new(@post.content).to_html %>
<% end %>

<%= form_for(@post) do |f| %>
<table id="tags-editor">
<tr>
	<% if current_user %>
		<td><%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json %></td>
		<td><%= f.submit 'Update' %></td>
	<% else %>
		<td><%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json, :disabled => true %></td>
		<td><%= f.submit 'Please Login to Update', :disabled => true %></td>
	<% end %>
</tr>
</table>
<% end %>

<div>
  <%= render 'share' %>
  <%= "Up" "#{@post.votes_for}" "Down" "#{@post.votes_against}" %>
  <%= link_to('Thumbs Up', vote_for_post_path(@post), :method => :post ) %>
  <%= link_to('Thumbs Down', vote_against_post_path(@post), :method => :post) %>
</div>

<div id="buttons">
<%= render 'comment' %>
</div><!--.buttons-->
</div><!--.-->
