<% @posts.each do |post| %>  

<div id="post" class="grid_7 push_1" >
  <span id="title"><%= header(post) %></span>
  <span id="url"<%= link_to link(post) %></span>
  <div id="tags">
    <% post.tags.each do |tag| %>
      <span id="tag"><%= link_to "##{tag.name}", tag %></span>
    <% end %>
  </div><!--.tags-->
  <div id="info">
    Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago
    [ <%= link_to '{num} Comment', post_path(post, :anchor => "disqus_thread") %> ]
  </div><!--.info-->
</div><!--.post-->

<div id="social" class="grid_1 push_1" >
  <div style="margin-bottom: 5px;"><%= tweet_button(:url => post_url(post), :text => "'#{post.title}' #{post.tags.map(&:name).map { |t| '#'+t }.join(' ')}", :count => "horizontal" )%></div>
  <div class="fb-like" data-href="<%= post_url(post) %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
</div><!--.social-->
<div id="tag-post" class="grid_1 pull_7" >
  <%= link_to(image_tag('Thumbs-up-icon.png', :alt => 'Vote up', :border => 0), vote_for_post_path(post), :method => :post ) %><br/>
  <div style="margin:auto; width:50%;"><%= "#{post.plusminus}" %></div>
  <%= link_to(image_tag('Thumbs-down-icon.png', :alt => 'Vote down', :border => 0), vote_against_post_path(post), :method => :post) %>
</div><!--.tag-post-->
<% end %>

<br style="clear:both;"/>
<div id="paginate" class="push_1">
<p><%= will_paginate @posts %></p>
<p><%= page_entries_info @posts %></p>
</div><!--.paginate-->
