<% @posts.each do |post| %>
<div id="post" class="grid_6 omega">
  <span id="title"><%= header(post) %></span>
  <span id="url"<%= link(post) %></span>
  <div id="tags">
    <% post.tags.each do |tag| %>
      <span id="tag"><%= link_to "##{tag.name}", tag %></span>
    <% end %>
  </div><!--.tags-->
  <div id="info">
    Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago
    [ <%= link_to '{num} Comment', post_path(post, :anchor => "disqus_thread") %> ]
  </div><!--.info-->
</div><!--.post-->

<div id="social" class="grid_2 alpha">
  <%= tweet_button(:url => post_url(post), :text => "'#{post.title}' #startuplessonslearned", :count => "horizontal" )%>
  <div class="fb-like" data-href="<%= post_url(post) %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
</div><!-- .social -->
<div id="tag" class="push_2 grid_1" style='width:54px; float:right; margin: 5px;'>
  <%= link_to("#{post.votes_for} Up", vote_for_post_path(post), :method => :post ) %><br/>
  <%= link_to("#{post.votes_against} Down", vote_against_post_path(post), :method => :post) %>
</div>
<% end %>

<br style="clear:both;"/>
<div id="paginate" class="push_1">
<p><%= will_paginate @posts %></p>
<p><%= page_entries_info @posts %></p>
</div><!--.paginate-->
