<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "WhatFailed.us" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
	<script type="text/javascript">
    var disqus_shortname = 'raywu'
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  	</script>
	<link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjMggcM" rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjMggcM" />
	<script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjMggcM"></script>
</head>

<body>
	

<div id="header">
	WhatFailed.Us - A Collection of Startup Stories
	 <div id="nav">
	   <span id="nav-button"><%= link_to 'Latest', "/" %></span>
	   <span id="nav-button"><%= link_to 'Submit', new_post_path %></span>
	   <span id="nav-button"><%= link_to 'Tags', tags_path %></span>
	  </div>
	<div id="user_nav">
		<% if current_user %>
		  Signed in as <%= current_user.name %>
		  <span id="nav-button"><%= link_to "Sign Out", signout_path %></span>
		<% else %>
		  <span id="nav-button"><%= link_to "Login with Twitter", "/auth/twitter" %></span>
		  <span id="nav-button"><%= link_to "Login with Facebook", "/auth/facebook" %></span>
		<% end %>
	</div>
</div>

<div id="container">
<% if !yield(:title).empty? %>
	<h1><%= yield(:title) %></h1>
<% end %>

<%- flash.each do |type, msg| -%>
		<div class="msg" id="<%= type %>"><%= msg %></div>
<%- end -%>

<%= yield %>
</div>

</body>
</html>
